# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/
ENV/

# VS Code settings
.vscode/

# Database files
*.db

# System files
.DS_Store
Thumbs.db
